thesisPDF:
  image: tianon/latex
  script:
    - make
  artifacts:
    when: always
    paths:
      - thesis.pdf
      - thesis.log


# Testweise mit den gängen Distributionen bauen um Inkompatibilitäten schnell
# erkennen zu können (wird nur im master-Zweig von i4/tex/thesis ausgeführt)
.buildthesis:
  only:
    - master@i4/tex/i4thesis
  script:
    - cat /etc/os-release
    - make
  artifacts:
    when: always
    paths:
      - thesis.pdf
      - thesis.log

# Generische Regel für auf Debian basierende Distributionen
.debianoide:
  extends:
    - .buildthesis
  before_script:
    - ln -fs /usr/share/zoneinfo/Europe/Berlin /etc/localtime
    - export DEBIAN_FRONTEND=noninteractive
    - apt-get update -qq && apt-get install -y -qq make texlive-full latexmk biber

archlinuxRolling:
  image: archlinux:base-devel
  extends:
    - .buildthesis
  before_script:
    - >
      pacman -Syy &&               \
        pacman -Syu --noconfirm && \
        pacman -S --noconfirm      \
        texlive-most               \
        biber                      \
        perl-clone
    # Ensure that biber is in PATH from now on
    - source /etc/profile

# Latest Ubuntu LTS Release
ubuntuLatest:
  extends: .debianoide
  image: ubuntu:latest

# Latest (rolling) Ubuntu Release
ubuntuRolling:
  extends: .debianoide
  image: ubuntu:rolling

debianStable:
  extends: .debianoide
  image: debian:stable

debianTesting:
  extends: .debianoide
  image: debian:testing

debianOldStable:
  extends: .debianoide
  image: debian:oldstable

# Wir halten gerne an alten Sachen fest.
debianOldOldStable:
  extends: .debianoide
  image: debian:oldoldstable
